.input-login {
  /* width: 100%; */
  padding: 15px;
  height: 18px;
  width: 272px;
  border: none;
  font-size: 16px;
  background-color: #e2e5e7;
  border-radius: 5px;
}

.input-login:focus-visible {
  outline: none;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 48px;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder {
  display: flex;
  align-items: center;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-btn.ant-btn-lg {
  font-size: 16px;
  min-height: 48px;
  padding: 8px 15px;
  border-radius: 8px;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-select-dropdown
  .ant-select-item {
  min-height: 44px;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-select-dropdown
  .ant-select-item-option-content {
  display: flex;
  align-items: center;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-space {
  width: 100%;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-col-16 {
  max-width: 100%;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-input-status-error:not(.ant-input-disabled):not(
    .ant-input-borderless
  ).ant-input {
  background-color: #fff6f6;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  width: 100%;
}

.ant-space-item {
  width: 100%;
}
.form-control {
  border: none;
}

.form-control:focus {
  box-shadow: none;
}

.ant-select-selector {
}

.btn_fg {
  line-height: 1.35714;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 145, 255);
  text-decoration: none;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 16px 0px 0px;
  border-radius: 0px;
  padding: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-row {
  width: 100%;
  display: block;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-form-horizontal
  .ant-form-item-label {
  display: flex;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-input {
  background-color: #e6e6e6;
  padding: 12px;
  font-size: 15px;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-input-affix-wrapper-status-error:not(
    .ant-input-affix-wrapper-disabled
  ):not(
    .ant-input-affix-wrapper-borderless
  ).ant-input-affix-wrapper
  input,
:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-input-affix-wrapper-status-error:not(
    .ant-input-affix-wrapper-disabled
  ):not(
    .ant-input-affix-wrapper-borderless
  ).ant-input-affix-wrapper {
  background-color: #fff6f6;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-input-focused {
  border: none;
}
.ant-input.css-dev-only-do-not-override-ed5zg0,
.ant-input-affix-wrapper.ant-input-password.ant-input-affix-wrapper-status-success.css-dev-only-do-not-override-ed5zg0 {
  background-color: #e6e6e6;
}
.ant-select.ant-select-in-form-item.ant-select-compact-item.ant-select-compact-first-item.ant-select-compact-last-item.css-dev-only-do-not-override-ed5zg0.ant-select-single.ant-select-show-arrow,
.ant-input-affix-wrapper.ant-input-affix-wrapper-focused.ant-input-password.ant-input-affix-wrapper-status-error.css-dev-only-do-not-override-ed5zg0 {
  background-color: #fff6f6;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-input:focus,
:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-input-focused {
  border-color: transparent;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-input:hover {
  border-color: transparent;
}
:where(.css-dev-only-do-not-override-ed5zg0).ant-input,
:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-input-affix-wrapper:not(
    .ant-input-affix-wrapper-disabled
  ):hover {
  border-color: transparent;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-input-affix-wrapper
  > input.ant-input {
  border: none;
  padding: 12px;
  border-radius: 7px;
  font-size: 15px;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-input-affix-wrapper {
  border-color: transparent;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-input-affix-wrapper {
  padding: 0;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-input-affix-wrapper:focus,
:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-input-affix-wrapper-focused {
  box-shadow: none;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-space-compact {
  width: 100%;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-select-dropdown
  .ant-select-item-option-active:not(
    .ant-select-item-option-disabled
  ) {
  color: #186337;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-select-dropdown
  .ant-select-item-option-content {
  font-weight: 600;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search-input {
  height: 100%;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder {
  color: #878787;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-select-single
  .ant-select-customize-input
  .ant-select-selector {
  border-color: transparent;
}

:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: transparent;
  background-color: #d1d0ce;
  border-radius: 6px;
}

.ant-select-focused:where(
    .css-dev-only-do-not-override-ed5zg0
  ).ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: transparent;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(
    .ant-pagination-size-changer
  ):hover
  .ant-select-selector {
  border-color: transparent;
}
